body{
    background:white;
}

h1{
    text-align: center;
}
/*Lista com configurações o menu*/
ul.menu {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #6495ED;
    border-radius: 5px;
    
}
  
li.menu {
    float:left;
    font-family: Verdana;
    
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 70px;
    text-decoration:none;
    font-size: 20px;
}
  
li a:hover {
    background-color: #0000FF;
}
/*Lista com configurações para a lista de cursos*/
li.lista {
    margin:50px;
    font-family: Verdana;
    display:block;
    color: black;
    padding: 15px 70px;
    text-decoration:none;
    font-size: 20px;
    border-color:gray;
    border-style:outset;
    background-color:#6495ED;
    width:200px;
    border-radius:20px;
    box-shadow: rgb(0,0,0,0.4)
    5px 5px 0;
    
    
}
li.lista:hover{
    background-color: #87CEFA;
}
ul.lista1 {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #6495ED;
    border-radius: 5px;
    
}
li.lista1 {
    float:center;
    margin:50px;
    font-family: Verdana;
    display:block;
    color: black;
    padding: 15px 70px;
    text-decoration:none;
    font-size: 20px;
    border-color:gray;
    border-style:outset;
    background-color:#6495ED;
    width:200px;
    border-radius:20px;
    box-shadow: rgb(0,0,0,0.4)
    5px 5px 0;
    
    
}

img.index {
    width:95%;
    height:250px;
    border-radius: 10px;
    left:20px;
    top:600px;
    margin-left:40px;

}
p.a1 {
    color:black;
    font-size:30px;
}

p.a2{
    color:black;
    font-size:30px;
    font-family: 'Courier New', Courier, monospace;
    text-align:justify;
    margin-right:30px;
}

.logo{
    margin-left:40%;
    width:300px;
    height:200px;
    
}

.index1 {
    width:350px;
    height:350px;
    border:1px solid;
	border-color: black;
	padding:10px;
	margin-top:20px;
    font-size:30px;
    margin-left:40px;
}

.index2 {
    width:350px;
    height:350px;
    border:1px solid;
	border-color: black;
	padding:10px;
	margin-top:0;
    font-size:30px;
    margin-left:470px;
}

.index3 {
    width:350px;
    height:350px;
    border:1px solid;
	border-color: black;
	padding:10px;
	font-size:30px;
    margin-left:900px;
}

.noticia1 {
	width:500px;
    height:400px;
    padding:0px 5px 10px;
    border:1px solid blue;
	margin-top:80px;
    font-size:30px;
    margin-left:30px;
}

.noticia2 {
    float:right;
    width:500px;
    height:350px;
    border:1px solid blue;
	padding:0px 10px;	
    font-size:30px;
    margin-top:-352px;
    margin-right:30px;
	
}

.noticia3 {
    float:bottom;
    width:1000px;
	height:200px;
    border:1px solid blue;
    padding:0px 10px;
	margin-top:25px;
    margin-left:200px;
}

.d{
    width:1200px;
    height:750px;
    border:1px solid;
	border-color: blue;
	padding:10px;
	margin-top:20px;
    font-size:30px;
    margin-left:40px;
}
